.gitignore
.npmignore
.vscode/

docker-compose*
Dockerfile*
launchConfigurations/

manifest.yml
node_modules/
npm-debug.log
Thumbs.db

commands_src_core_ascmdtypes.h
lib_asperalm_ascmd.rb
ssh2-promise.js
parse.js
data.binary

*.tar
*.tgz